---
title: Meet the Team
description: Teamwork makes the Dream work
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				{% include title.html %}
				<div class="row">

					<div class="4u">
						<header class="centered">
							<h3>Andreas Economides</h3>
							<span>Graphics Designer</span>
						</header>
						{% include animated-image.html name="andreas.jpg" %}
						<p class="justified">Andreas' passion in Design and Technology is visible through his involvement in the graphics aspect of the team, as well as sectors that involve manufacture like merchandise and the pit display.</p>
					</div>

					<div class="4u">
						<header class="centered">
							<h3>Antros Economides</h3>
							<span>Design Engineer</span>
						</header>
						{% include animated-image.html name="antros.jpg" %}
						<p class="justified">Antros inspires from mathematics and physics, he is really dedicated for solving problems and excelling in the challenges he is faced with.</p>
					</div>

					<div class="4u">
						<header class="centered">
							<h3>Elena Ashioti</h3>
							<span>Manufacture Engineer</span>
						</header>
						{% include animated-image.html name="elena.jpg" %}
						<p class="justified">Elena is another Design and Technology fanatic that wants to continue doing it in university. She really enjoys making models and takes great care in the details when making something.</p>
					</div>

				</div>
				<div class="row">

					<div class="4u">
						<header class="centered">
							<h3>Louis Phidias</h3>
							<span>Team Manager</span>
						</header>
						{% include animated-image.html name="louis.jpg" %}
						<p class="justified">Louis as a passionate F1 fan, he is dedicated to what he does, and is the driving force of the team. Even though labelled 'manager', he is a leader for the team and inspires all of the team members for success.</p>
					</div>

					<div class="4u">
						<header class="centered">
							<h3>Yiannis Fakoukakis</h3>
							<span>Resource &amp; IT Manager</span>
						</header>
						{% include animated-image.html name="yiannis.jpg" %}
						<p class="justified">Yiannis, another frenzied F1 fan, enjoys spending time doing anything related to the sport, so of course the ultimate combination of education and Formula 1 has him on his toes 24/7.</p>
					</div>

				</div>
			</section>
		</div>
	</div>
