<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=5Aez4QzX0g">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=5Aez4QzX0g">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=5Aez4QzX0g">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=5Aez4QzX0g">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=5Aez4QzX0g" color="#1ca7aa">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=5Aez4QzX0g">
<meta name="apple-mobile-web-app-title" content="Slipstream">
<meta name="application-name" content="Slipstream">
<meta name="msapplication-TileColor" content="#afabab">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=5Aez4QzX0g">
<meta name="theme-color" content="#afabab">
