<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }}</title>

		<meta charset="utf-8" />
		<meta name="description" content="{{ site.description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.3.1/js/smooth-scroll.min.js" integrity="sha256-Hk3HkON5BhP8Jv4yRmMrxtmOxTc/jR2WVYH8KrxsoHw=" crossorigin="anonymous"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		<link rel="stylesheet" media="(max-width: 1680px)" href="{{ site.baseurl }}/assets/css/style-wide.css" />
		<link rel="stylesheet" media="(max-width: 1280px)" href="{{ site.baseurl }}/assets/css/style-normal.css" />
		<link rel="stylesheet" media="(max-width: 840px)" href="{{ site.baseurl }}/assets/css/style-narrower.css" />
		<link rel="stylesheet" media="(max-width: 640px)" href="{{ site.baseurl }}/assets/css/style-mobile.css" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" />
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<img class="logo" src="{{ site.baseurl }}/assets/images/ace-logo.png">
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Contact information</h2>
										<span class="byline">We can't wait to hear from you</span>
									</header>
									<ul class="contact">
										<li>
											<span class="mail">Mail</span>
											<a href="mailto:ace.racing.cy@gmail.com">ace.racing.cy@gmail.com</a>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span title="Andreas Economides">(+357) 97-780088</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Copyright &copy; Ace Racing {{ site.time | date: '%Y' }}
						</div>

				</div>
			</div>

	</body>
</html>
