---
layout: default
---

					{% include header.html %}
					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<section class="container">
								<header class="major">
									<h2>Break the flow</h2>
									<span class="byline">{{ site.description }}</span>
								</header>
								<a data-scroll href="#anchor" class="button">Find out more!</a>
							</section>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">

					<header class="major">
						<h2 id="anchor">Welcome to F1 in schools</h2>
						<span class="byline">If everything seems under control, you're not going fast enough</span>
					</header>

					<div class="row no-collapse-1">
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/design.jpg">
							<h3>Design</h3>
							<p>Using 3D CAD software, design and test the F1 car of the future.</p>
						</section>
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/make.jpg">
							<h3>Make</h3>
							<p>Using modern 3D printing and CNC technology, bring your design to life.</p>
						</section>
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/race.jpg">
							<h3>Race</h3>
							<p>Prove in the track that your team really is the best.</p>
						</section>
					</div>

					<div class="row">
						<section class="6u">
							<h3>The STEM challenge</h3> 
							<p class="justified">F1 in Schools is the world's largest STEM competition, with over 20 million students from over 45 countries competing in teams, tasked with designing and manufacturing a scaled model F1 car as well as creating and managing many other project elements such as portfolios, a pit display, sponsorship and their team identity.</p>
						</section>
						<section class="6u">
							<h3>Critically acclaimed</h3>
							<p class="justified">The complexity as well as unique diversity of this intellectual competition has been hailed multiple times by major figures, such as David Cameron, who all highlight the importance of such experiences to the youth, and Chase Carey, the CEO of Liberty Media, has named this competition the Formula 1’s official education program</p>
						</section>
					</div>

					<a href="http://www.f1inschools.com/about-the-challenge/" class="button">Visit the official website</a>

				</section>
			</div>

	{{ content }}
