---
layout: default
---

					{% include header.html %}
					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<section class="container">
								<header class="major">
									<h2>Ready to r<i>ACE?</i></h2>
									<span class="byline">{{ site.description }}</span>
								</header>
								<a data-scroll href="#anchor" class="button">Find out more!</a>
							</section>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">

					<header class="major">
						<h2 id="anchor">Welcome to F1 in schools</h2>
						<span class="byline">If everything seems under control, you're not going fast enough</span>
					</header>

					<div class="row no-collapse-1">
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/design.jpg">
							<h3>Design</h3>
							<p>Using 3D CAD software, design and test the F1 car of the future.</p>
						</section>
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/make.jpg">
							<h3>Make</h3>
							<p>Using modern 3D printing and CNC technology, bring your design to life.</p>
						</section>
						<section class="4u">
							<img src="{{ site.baseurl }}/assets/images/race.jpg">
							<h3>Race</h3>
							<p>Prove in the track that your team really is the best.</p>
						</section>
					</div>

					<a href="http://www.f1inschools.com/about-the-challenge/" class="button">Visit the official F1 website</a>

				</section>
			</div>

	{{ content }}
